<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SignUp</title>

    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <div class="header">
        <a class="header-a">Python Yummy Recipes App</a>
        <span class="recover_pass"> <a href="/" class="signout">Sign Out</a></span>
        <span class="recover_pass"> <a href="/" class="home">Home</a></span>

    </div>
    <form>
        <div class="login_container">
            <h1>Add Recipe Category</h1>
            <label>Category Name:</label>
            <input type="text" id="username" placeholder="Category Name">
            <label>Description:</label>
            <textarea></textarea>
        </div>
        <div class="login_container">
            <button type="submit" id="login">Add</button>
        </div>



    </form>
</body>

</html>