<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add New Category</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/input.js') }}"></script>

</head>

<body class="index_body">
    <div class="head">
        <a class="head-a"> Yummy Recipes App</a>
        <span class="recover_pass"> <a href="/" class="home">Sign Out</a></span>
    </div>

    <form action="{{ url_for('categorylistpost') }}" method="POST">
        <div class="login_container">
            <h4>Add Recipe Category</h4>
            <input type="text" id="name" name="name" placeholder="Category Name">
            <textarea id="desc" , name="desc" placeholder=" Category Description" rows="6"></textarea>
        </div>
        <div class="login_container">

            <button type="submit" id="login">Add</button>
        </div>
    </form>

</body>

</html>