<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SignUp</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="header">
        <a class="header-a">Python Yummy Recipes App</a>
        <span class="recover_pass"> <a href="/" class="signout">Sign Out</a></span>
        <span class="recover_pass"> <a href="/" class="home">Home</a></span>

    </div>
    <form action="{{ url_for('category') }}" method="POST">
        <div class="login_container">
            <h4>Add Recipe Category</h4>
            <label>Category Name:</label>
            <input type="text" id="name" name="name" placeholder="Category Name">
            <label>Description:</label>
            <textarea id="desc" , name="desc" placeholder=" Category Description" rows="6"></textarea>
        </div>
        <div class="login_container">
            <button type="submit" id="login">Add</button>
        </div>



    </form>
</body>

</html>