<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add New Category</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/input.js') }}"></script>

</head>

<body>

    <form action="{{ url_for('categorylist') }}" method="POST">
        <div class="login_container">
            <h4>Add Recipe Category</h4>
            <label>Category Name:</label>
            <input type="text" id="name" name="name" placeholder="Category Name">
            <label>Description:</label>
            <textarea id="desc" , name="desc" placeholder=" Category Description" rows="6"></textarea>
        </div>
        <div class="login_container">
            <button onclick="RefreshParent();" type="submit " id="login "><a>Add</a></button>
        </div>
    </form>

</body>

</html>