<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recipes</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/input.js') }}"></script>

</head>

<body>

    <div class="head">
        <a class="head-a">Yummy Recipes App</a>
        <span class="recover_pass"> <a href="/" class="home">Sign Out</a></span>

    </div>

    <div class="container">

        <h4>Recipe List</h4>
        <button type="button " id="cancel"><a href="/getcatetgory">Add Recipe</a></button>
        <br>
        <br>
        <br>
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Recipe Name</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key in rec %}
                        <tr>
                            <td>{{key}}</td>
                            <td>{{rec[key][key]['Description']}} </td>
                            <td><button type="button" class="btn btn-primary btn-block"><a href="/editrecipe">Edit Recipe</a></button></td>
                            <td><button type="button" class="btn btn-primary btn-block"><a href='/deleterecipe/{{key}}'>Delete Recipe</a></button></td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="login_container">
            <button onclick="back();" type="submit" id="login"><< Back</button>
        </div>
    </div>
    <div class="footer">
        @2017 Yummy Recipes, all rights reserved.
    </div>
</body>

</html>