<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SignUp</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="header">
        <a class="header-a">Python Yummy Recipes App</a>
        <span class="recover_pass"> <a href="/" class="signout">Sign Out</a></span>
        <span class="recover_pass"> <a href="/" class="home">Home</a></span>

    </div>
    <form>
        <div class="login_container">
            <h4>Add Recipe</h4>
            <label>Recipe Name:</label>
            <input type="text" id="name" name="name" placeholder="Recipe Name">
            <label>Description:</label>
            <textarea id="desc" , name="desc" placeholder=" Recipe Description"></textarea>
            <ul>
                <li><a href="/recipes">Local foods</a></li>
                <li><a href="/recipes">Beverages</a></li>
                <li><a href="/recipes">Nyama choma</a></li>
            </ul>

        </div>

    </form>
</body>

</html>