<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SignUp</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="header">
        <a class="header-a">Yummy Recipes App </a>
        <span class="recover_pass"> <a href="/" class="signout">Home</a></span>
        <span class="recover_pass"> <a href="/signup" class="home">Sign Up</a></span>
    </div>
    <form>
        <div class="img_container">
            <img src="{{ url_for('static', filename='img/login.png') }}" alt="Login-Image" class="login-image">
        </div>
        <div class="login_container">
            <label>Username:</label>
            <input type="text" id="username" placeholder="Username" name="username">
            <label>Password:</label>
            <input type="password" id="password" placeholder="Password">
            <input type="checkbox"> Remember me
            <span class="recover_pass">Forgot <a href="#">password?</a></span>
        </div>
        <div class="login_container">
            <!--<input type="submit" id="login" value="submit">-->
            <button type="submit" id="login">Sign In</button>
        </div>

    </form>
    </br>
    </br>
    <hr>
    <footer>
        @2017 Yummy Recipes, all rights reserved.
    </footer>
</body>

</html>